.arrowlistmenu {
	background:#F3F3F3;
	border: 1px solid #DDDDDD;
	border-bottom: none;
	margin: 0;
	float: none;/*width of accordion menu*/
}
.arrowlistmenu .menuheader { /*CSS class for menu headers in general (expanding or not!)*/
	background: url(../Images/sprites_icon/list-icon.png) no-repeat scroll 5px 14px #F3F3F3;
	color: #555555;
	font-size: 14px;
	font-weight: normal;
	padding: 8px 3px 8px 20px;
	cursor: hand;
	cursor: pointer;
	border-bottom: 1px solid #DDDDDD;
}
.arrowlistmenu .menuheader:hover {
	text-decoration: none;
	color: #000000
}
.arrowlistmenu .menuheader.current { /*CSS class to apply to expandable header when it's expanded*/
	background: url(../Images/sprites_icon/list-icon1.png) no-repeat scroll 5px center #F3F3F3;
	color:#000000;
}
.arrowlistmenu ul { /*CSS for UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.arrowlistmenu ul li {
}
.arrowlistmenu ul li a {
	background: url(../Images/arr_cate.png) no-repeat scroll 10px 12px #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	display: block;
	padding: 7px 3px 7px 25px;
}
.arrowlistmenu ul li a.active, .arrowlistmenu ul li a:hover { /*hover state CSS*/
	color: #000000;
	text-decoration: underline;
}
.categoryitems {
	display: none
}
