/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens { border: 1px solid #888; margin: 0;	/* Set this to minus the border thickness. */ background-color: #fff; cursor: move; }
/* This is for the title text. */
.cloud-zoom-title { font-family: Arial, Helvetica, sans-serif; position: absolute !important; background-color: #000; color: #fff; padding: 3px; width: 100%; text-align: center; font-weight: bold; font-size: 10px; top: 0px; }
/* This is the zoom window. */
.cloud-zoom-big { border: 1px solid #ccc; overflow: hidden; }
/* This is the loading message. */
.cloud-zoom-loading { color: white; background: #222; padding: 3px; border: 1px solid #000; }
.zoom-section { position: relative; z-index: 1; background: white; text-align:center; width:340px ; margin-bottom:20px}
.zoom-desc { width: 58px; height: 340px; padding: 10px 10px 10px 0; position: relative }
.zoom-small-image { display: inline-block; height: 345px; text-align: center; margin:0 auto; margin-bottom: 10px; border: 0px solid #ddd;  }
.cloud-zoom { width: auto; height: 100%; text-align: center; margin: 0 auto; display: inline-block !important }
#wrap .mainImage { max-width: 100%; max-height: 340px; margin-bottom: 5px; }
.cloud-zoom-gallery { display: table-cell; vertical-align: middle; border: 1px solid #DDDDDD; margin: 0; width: 48px; height: 48px; text-align: center; }
.cloud-zoom-gallery:hover { border-color: #111111; cursor: zoom-in }
.zoom-tiny-image { max-width: 48px !important; max-height: 48px; }
.zoom-section:hover .zoom img { opacity: 1 }
.zoom-desc li { float: left; margin: 7px 4px }
.zoom_area { width: 100%; height: 20px; text-align: right; position: relative }
.zoom-desc .prev, .zoom-desc .next { background-image: url(../Images/slide_ctrl.png); background-repeat: no-repeat; cursor: pointer; width: 13px; height: 8px; position: absolute; left: 50%; margin-left: -13px; z-index: 10; text-indent: -9999px }
.zoom-desc .prev { background-position: -52px -60px; top: 0 }
.zoom-desc .next { background-position: -52px -68px; top: 330px }
