/*Contact Us*/
#info_contact p {
	margin: 0.3em 0
}
#info_contact, #contactus, #map {
	margin: 20px 0
}
#contactus {
	padding: 10px 20px;
	margin: 10px 0;
	width: 570px;
	border: 1px solid #dddddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.form_web .row_contact {
	float: left;
	width: 80%;
}
#contactus .row_contact {
	width: 100%
}
.form_web .left_row {
	display: block;
	margin: 10px 0 4px 0
}
#payment_page .row_contact {
	width: 100%;
}
#payment_page .left_row {
	width: 28%
}
#payment_page .right_row {
	width: 69%
}
.form_web .row_contact input {
	width: 99.5%;
	background: #FFFFFF;
	border: 1px solid #dddddd;
	padding: 6px 0;
	font: normal 100% Tahoma, Geneva, sans-serif;
	text-indent: 5px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.form_web textarea {
	width: 99.5%;
	background: #FFFFFF;
	border: 1px solid #cccccc;
	height: 160px;
	text-indent: 5px;
	padding-top: 5px;
}
.form_web .row_contact input:focus, .form_web .row_contact select:focus, .form_web .row_contact textarea:focus {
	border-color: #888888
}
.form_web .send_cmt, .form_web input.send_cmt {
	display: block;
	border: none;
	width: 100%;
	padding: 0;
	height: 34px;
	line-height: 34px;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
	float:left;
}
.required {
	color: #F00;
}
