/*Slide Products*/
.pro_left { float: left; width: 36%; position: relative; }
.zoom { line-height: 20px; text-align: right; padding-right: 5px; padding-top: 5px }
.zoom a { text-decoration: none; background: url(../Images/zoom_icon.png) 0 center no-repeat; padding-left: 15px }
/*Info Detail Product*/
#dtp_info { width: 64%; font-size: 1.1em; color: #545351 }
.trademark { display: inline-block; white-space: nowrap; padding-bottom: 5px; }
.trademark a { color: blue; font-weight: bold; }
.rating { display: inline-block; }
.info_dtp_product { width: 63%; margin-right: 2% }
.dtp_row { float: left; width: 100%; margin-bottom: 8px; }
#code_P, #viewed_count { padding-bottom: 3px; border-bottom: 1px dotted #CACACA }
#li_des ul { list-style: disc outside; margin-left: 20px }
#li_des ul li { float: left; width: 45%; margin: 1px 20px 1px 0; }
.dtp_row .tt_status { float: left; width: 120px; }
.price_detail { position: relative; background: #f5f5f5; padding-top: 10px; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; }
.dtp_price b { font-size: 20px; color: #000000 }
.buy_function { margin: 10px 0; }
.addtocart_btn { background: url(../Images/addtocart_btn.png) 0 0 no-repeat; display: block; height: 50px; margin-right: 20px; width: 225px; }
.addtocart_btn:hover { text-decoration: none; }
.addtocart_btn span { color: #ffffff; display: block; font-size: 20px; font-weight: 700; line-height: 50px; padding-left: 80px; text-shadow: 0 1px 1px #000000; text-transform: uppercase; }
.product__howToBuy { display: block; clear: both; margin-top: 15px; line-height: 22px; position: relative; color: #ff8700; }
.icn-howtobuy { float: left; display: inline-block; width: 27px; height: 20px; background: url(../Images/icons.png) -195px -173px no-repeat }
.status_product { white-space: nowrap; text-align: center; font: bold 14px Arial, Helvetica, sans-serif; height: 28px; line-height: 28px; padding: 0 10px 0 30px; color: #FFFFFF; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.available { background: #faa21a url(../Images/icons.png) 0 -232px no-repeat; }
.unavailable { background: #faa21a url(../Images/icons.png) 0 -278px no-repeat; }
.links_more { text-align: right; margin-top: 5px }
.links_more a { color: #ff5600; display: block; float: right; margin: 3px 5px 5px 0; white-space: nowrap; text-decoration: none; position: relative }
.heart_icon, .links_more a.active:before { float: left; width: 26px; height: 18px; }
.heart_icon { background: url(../Images/icons.png) -209px -134px no-repeat }
.links_more a.active { padding-left: 25px }
.links_more a.active:before { position: absolute; top: 0; left: 0; content: '' }
.links_more a.active, .links_more:hover .heart_icon { background: url(../Images/icons.png) -209px -114px no-repeat }
.links_more input { position: relative; top: 2px }
.prod_r_content { width: 35%; clear: none; }
.prod_r_content .box_ct { border: none; margin-bottom: 10px; background: #dbfcd8 }
.product_leadtime_title { color: #000; font-size: 13px; font-weight: normal; margin-bottom: 10px; }
.prod_r_content label { cursor: default; float: left; font-size: 12px; height: 30px; line-height: 30px; margin-right: -100px; overflow: hidden; position: relative; text-overflow: ellipsis; white-space: nowrap; width: 100px; }
.prod_r_content .select_item { display: inline-block; position: relative; font-size: 12px; margin-left: 100px; width: 150px; }
.select_item select { border: 1px solid #d1d1d1; border-radius: 0; color: #000; cursor: pointer; height: 28px; outline: 0 none; position: relative; width: 100%; }
.delivery_types, .method_payment span { font-size: 12px }
.delivery_types .hint_icon { position: relative; background: url(../Images/icons.png) 0 -155px no-repeat; cursor: pointer; display: inline-block; height: 12px; margin: 0; padding: 0; vertical-align: text-top; width: 12px; }
.popup_delivery_hint { background-color: #fff; border: 1px solid #ccc; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc; box-shadow: 0 0 5px #ccc; display: none; padding: 10px; position: absolute; right: -10px; top: 10px; width: 340px; z-index: 1001; cursor: default }
.delivery_types .hint_icon:hover .popup_delivery_hint { display: block }
.delivery-types .hint_icon_inline { display: inline-block; vertical-align: top; white-space: nowrap; }
.delivery-types .hint_icon_inline__wrapper { display: inline; white-space: nowrap; }
.time_transport { margin-top: 10px }
.time_transport span { color: #006bff; font-weight: 700; text-transform: uppercase; }
#info_spp { padding: 0 10px; margin-top: 20px; border: 1px solid #d8d8d8 }
#info_spp .tt_spp { color: #034ea2; border-bottom: 1px dotted #e7e7e7; line-height: 25px }
#info_spp > div { margin: 5px 10px }
#info_spp .tt_spp { background: #0048a9; color: #FFFFFF; line-height: 25px; margin: 0 0 5px 0; padding-left: 10px; }
.icon_method { float: left; width: 20px; height: 20px; background-image: url(../Images/icons.png) !important; background-repeat: no-repeat; padding: 0 !important }
.hotline_spp { background-position: -64px -25px }
.guarantee { background-position: -64px -56px }
.address { background-position: -64px -84px }
.time_work { background-position: -64px -112px }
.status .facebook { text-align: left; width: 100% }
.location { line-height: 30px; }
.col_detail { width: 45%; margin: 0 2% 0 3%; }
.line_dot { float: left; width: 100%; height: 1px; border-top: 1px dotted #555555; }
.viewed { float: left; width: 100%; color: #CC0000; font-weight: 700; line-height: 30px; margin: 5px 0; font-size: 11px; }
.info_detail p { margin: 10px 0; }
.method_payment span { background: url(../Images/arr_check.png) 10px 10px no-repeat; display: block; padding: 3px 4px 0 25px; }
/*Tab Detail Products*/
#box_detail_left { width: 890px }
.tabs_detail_content { margin-bottom: 15px }
.tabs_detail_content p { margin: 0px 0; line-height: 170%; }
.tabs_detail_content td p { margin: 0px 0; }
#l_slP .tt_popP { margin-bottom: 15px }
#l_slP .tt_popP span, #other_products .tt_popP span { display: block; font-size: 16px; color: #404040; text-transform: none; border-bottom: 2px solid #1e3446; }
#other_products .tt_popP span {     padding:   10px;}
/*Comments*/
.comment_part { float: left; width: 100%; }
.detail .h1Title { text-align: left; margin: 0 0 10px 400px; padding-bottom: 3px; }
.info_detail .facebook { left: 100%; top: 0; }
.info_detail ul li { background: url(../Images/process_icon.png) -689px -73px no-repeat; margin: 5px 0; padding-left: 20px; }
/*Comment Box*/
.comment_part h4 { color: #4582B9; font-size: 14px; font-weight: bold; margin-bottom: 5px; margin-top: 10px; }
.choose_product { margin-top: 5px; padding: 0 10px; }
.investigation .choose_product { padding-top: 0; }
.choose_product p { color: #000000; margin: 0; margin-bottom: 5px; padding: 0; }
.vote { background: url(../Images/vote.png) repeat scroll 0 0 transparent; border: 0 none; cursor: pointer; display: block; font-size: 0; height: 26px; width: 71px; }
.send_comment { float: right; margin-bottom: 10px; margin-right: 10px; }
 .postcomment input, .postcomment textarea { color: #7F7F7F; border: 1px solid #B5B5B5; }
.pcmnd textarea { height: 50px; margin: 0 0 10px 0; padding: 5px; width: 98.5%; }
.pcmnd { padding: 10px 0 }
.pcm { float: left; width: 100%; border-bottom: 1px solid #CCCCCC; padding-bottom: 10px; margin-bottom: 10px; }
.postcomment .star { margin-top: 40px; width: 100px !important; }
.star { float: left; margin-top: 9px; width: 200px !important; }
.star_post { float: left; margin-top: 35px; }
.choose_product { color: #3C3C3C; float: left; padding-left: 9px; padding-right: 10px; padding-top: 30px; }
.inputcomment { float: left; margin-top: 29px; }
.nhapten { float: left; margin-right: 5px !important; padding: 5px; width: 160px; }
.diachi { float: left; padding: 5px; width: 250px; }
.noidungcomment { padding: 15px; }
.tenuser { float: left; margin-top: 10px; }
.comment { border: 1px solid #CCCCCC; margin-bottom: 10px; }
.postcomment { float: left; width: 100%; }
.user { border-bottom: 1px solid #CCCCCC; }
.image-user { float: left; width: 54px; }
.image-user img { height: 54px; width: 54px; }
.datetime { float: left; width: 600px; }
.points { color: #3C3C3C; float: left; font-size: 13px; font-weight: bold; }
.nhanxet { margin-bottom: 20px; padding-left: 20px; }
#star { display: inline-block; margin-left: 5px; position: relative; top: -2px }
#vote { color: red; }
.tenspcb { color: #6D6B6C; font-size: 14px; font-weight: bold; }
.des { color: #7F7F7F; }
.noidungspcb p { margin-bottom: 10px !important; }
.spcb p { margin-bottom: 0; }
.spcb input { float: left; margin-right: 50px; margin-top: 20px; }
.spcb img { float: left; height: 94px; margin-right: 30px; width: 120px; }
.noidungspcb { float: left; width: 665px; }
.ques { margin-bottom: 10px; }
.hoidap { padding-left: 25px; padding-right: 25px; }
.hoi { color: #E46A07; float: left; font-size: 14px; width: 40px; }
.traloi { color: #7F7F7F; float: left; margin-top: 3px; width: 650px; }
.dap { color: #2FB30F; float: left; font-size: 14px; width: 40px; }
/*Compare Products*/
/*Compare*/
.list-products-comp { background: none repeat scroll 0 0 #f0f0f0; border: 1px solid #C1C1C1; margin-bottom: 10px; padding: 4px; position: relative; }
.list-products-comp ul { float: left; }
.list-products-comp li { background: none repeat scroll 0 0 #F9FDFF; display: block; float: left; font-size: 11px; margin: 0 15px 0 0; overflow: hidden; padding: 3px; position: relative; width: 179px; }
.list-products-comp li .img { border: 1px solid #D0E6F8; display: block; float: left; height: 56px; margin: 0 10px 0 0; width: 56px; }
.list-products-comp li .title { color: #333333; display: block; font-size: 11px; height: 48px; overflow: hidden; padding: 5px 10px 0 0; }
.list-products-comp li a:hover .title { color: #FFB319; }
.list-products-comp .last a:hover .title { color: #333333; }
.list-products-comp li a { display: block; margin: 0 10px 0 0; position: relative; }
.loaderComp { display: none; left: 17px; position: absolute; top: 17px; }
.btn-remove2 { background: url(../Images/btn-close.png) no-repeat scroll 0 -28px rgba(0, 0, 0, 0); display: block; height: 7px; margin: 0 !important; position: absolute !important; right: 5px; top: 5px; width: 7px; }
.btn-remove2:hover { background-position: -7px -28px; }
.list-products-comp .last .img { color: #D1D1D1; font-family: Arial, Helvetica, sans-serif; font-size: 45px; font-weight: bold; line-height: 130%; text-align: center; }
.list-products-comp .btn-comp { background: #F88B08; border-radius: 5px 5px 5px 5px; color: #FFFFFF; display: inline-block; float: right; font-weight: bold; margin: 19px 19px 0 0; padding: 5px 15px 8px; cursor: pointer; text-decoration: none; }
.list-products-comp .btn-comp:hover { background: -moz-linear-gradient(center top, #FF8800, #E97C00) repeat scroll 0 0 rgba(0, 0, 0, 0); }
.list-products-comp .btn-remove3 { background: url(../Images/btn-close.png) no-repeat scroll 0 -37px rgba(0, 0, 0, 0); display: block; height: 11px; position: absolute; right: 5px; top: 5px; width: 11px; cursor: pointer; }
.list-products-comp .btn-remove3:hover { background-position: 0 -49px; }
.list-products-comp .disable { cursor: pointer; }
.cf:before, .cf:after, #content, #content:after, .box:before, .box:after, .box-hd:before, .box-hd:after, .box-bd:before, .box-bd:after, .box-ft:before, .box-ft:after, .l-pageWrapper:before, .l-pageWrapper:after { content: ""; display: table; }
.cf:after, #content:after, .box:after, .box-hd:after, .box-bd:after, .box-ft:after, .l-pageWrapper:after, .oldie .cf { clear: both; }
/*Table Compare*/
.headline2 { background: none repeat scroll 0 0 #EEEEEE; border-radius: 5px 5px 5px 5px; color: #004688; padding: 5px 15px; }
.headline2 h2 { font-size: 16px; font-weight: 700; margin: 0 !important; }
.btn-print { background: url(../Images/ico-print.png) no-repeat scroll 0 2px rgba(0, 0, 0, 0); display: block; float: right; padding: 3px 0 3px 30px; }
.compare-content table { border-collapse: collapse; margin-bottom: 10px; }
.compare-content td { background: none repeat scroll 0 0 #F4F4F4; border: 1px solid #C1C1C1; padding: 10px; text-align: center; }
.compare-content th { background: none repeat scroll 0 0 #E1E1E1; border: 1px solid #C1C1C1; font-size: 13px; font-weight: bold; padding: 10px; text-align: left; width: 162px; }
.best-price { margin: 0; position: absolute; right: -60px; top: -10px; vertical-align: middle; }
.compare-content td strong { color: #BB0000; display: inline-block; font-size: 18px; position: relative; }
.compare-content td span { display: inline-block; position: relative; }
.compare-content td em { font-style: italic !important; }
.compare-content tr:hover td, .compare-content tr:hover th { background: none repeat scroll 0 0 #EEEEEE; }
.compare-content thead td { background: none repeat scroll 0 0 #FFFFFF; border-left: 1px solid #C1C1C1; border-right: medium none; border-top: medium none; }
.compare-content thead th { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border-left: medium none; border-top: medium none; }
.compare-content thead span { display: block; margin: 0 0 10px; }
.compare-content thead .title { font-size: 14px; font-weight: bold; height: 61px; line-height: 1.4; overflow: hidden; padding: 0 20px; }
.compare-content thead tr:hover th, .compare-content thead tr:hover td { background: none repeat scroll 0 0 #FFFFFF; }
.compare-content thead .btn { margin-bottom: 0; }
.cms-staticpage .headline2 h2 .cat-current { color: #FFB319; font-style: italic; padding: 0 0 0 10px; }
.compare-content td .inputbox { color: #333333; font-weight: bold; padding: 6px; width: 240px; }
.compare-content td .add-item a { border: 1px solid #CCCCCC; color: #C3C3C3; display: block; font-family: Arial, Helvetica, sans-serif; font-size: 155px; font-weight: bold; height: 239px; line-height: 100%; padding-top: 70px; text-align: center; width: 238px; }
.compare-content td div { position: relative; z-index: 5; }
.compare-content td form { text-align: left; }
.compare-content .btn-remove { background: url(../Images/btn-close.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; height: 14px; position: absolute; right: -5px; top: -5px; width: 14px; z-index: 10; }
.compare-content .btn-remove:hover { background-position: 0 -14px; }
.box-type { margin-bottom: 10px; position: relative; }
#other_products .sticky{border-left: solid 7px #F4F3F3;}


.commentPost { width: 100%; float: left; font-size:13px; }
.itemFeedback { float: left; width: 100%; margin:15px 0;border-bottom: solid 1px #ddd;
    padding-bottom: 20px; }
    .tt-bl{ padding-left:10px; padding-bottom:15px;}
.postActor { width: 20%; float: left; text-align:center; border-right: solid 1px #ddd}
.postActor img { max-width: 98%; width:50px ; height:50px ;background: url(../Images/userImgDefault.jpg) ;  }
.postBody { width: 80%; float: left; position: relative; padding-left:5% }
.postContainer { width: 100%; float: left }
.innerPostContainer { padding: 10px; padding-top: 0; }
.nameActor{ width:100%; display:inline-block; margin:5px 0}
.nameActor b { color: #3B7DC5; }
.nameActor span { color: #aaa }
.contentP { color: #000; line-height:180% }
.toolPost a, .toolPost span { margin-left: 5px; text-decoration: none }
.toolPost a, .likeP { color: #3B7DC5; }
.iconLike {  padding: 2px 10px; padding-bottom: 0; }
.postDateTime { color: #aaa }
.postReplies { width: 100%; float: left }
.innerReplies { padding: 10px; }
.actorAdd{ padding:3px 25px; line-height:15px !important; }
.itemReplies { width: 100%; float: left; }
/*.actorAdd:before { content: "·  "; color: #666; }*/
.toolPost a+a:before, .toolPost a+span:before, .toolPost span+span:before { content: " · "; color: #666; }
.danhgia-bl { font-size:1em; color:#00b7f1; }
.danhgia-bl >span{ margin-right:5px}
.commentPost .pp1{ color:#5CB85C;  font-weight:bold}

.item-row1 .item-price{ width:50%}
.item-row1 .item-other{ width:50%}
.item-row1 .item-other .item-review-now{width: 50%;}