/* nav style */
.all_categories {
 width: 180px;
 height: 40px;
 font-family: 'RobotoCondensedRegular';
 font-weight: 400 !important
}
.all_categories .tab_cate {
 background: #565D70;
 height: 40px;
 position: relative;
 cursor: pointer
}
.all_categories .tab_cate span {
 white-space: nowrap;
 display: inline-block;
 line-height: 40px;
 /*background: url(../Images/sprites_icon/menu_border_icon.png) 12px center no-repeat;*/
 color: #FFFFFF;
 text-transform: uppercase;
 font-size: 1.2em;
 font-weight: 400;
 padding-left: 15px;
}
.all_categories .tab_cate .arr_down {
 background: url(../Images/white_arr_down.png) 0 center no-repeat;
 display: inline-block;
 height: 7px;
 position: absolute;
 right: 5px;
 top: 16px;
 width: 13px;
}
.nav_menu {
 
 border-top: none;
 background: #565B70;
 list-style-type: none;
 margin: 0;
 padding: 0;
 position: relative;
 display: none;
 min-height: 0;
 z-index: 9;
 height:419px;
}
.all_categories .show_menu:hover .nav_menu { display: block; }
.m_li {
 cursor: pointer;
 float: left;
 font-weight: bold;
 margin: 0;
 padding: 0;
 width: 100%;
 border-bottom: 1px solid #666B7E;
}
.m_li:last-child { border: none }
.m_li > a { color: #fff }
.pc_menu a { font-weight: normal; }
.m_li:hover {
 text-decoration: none;
 z-index: 999999999;
 background: #faa21a
}
.m_li:hover a.t_menu { color: #FFFFFF; }
.t_menu {
 color: #3e3e3e;
 display: block;
 font-weight: 400 !important;
 line-height: 21px;
 padding: 8px 7px 8px 5px;
 text-decoration: none;
}
.t_menu:hover { text-decoration: none; }
.menu_deal {
 background: #00346a;
 color: #FFFFFF;
 text-transform: uppercase
}
.menu_deal .t_menu, .menu_deal .t_menu:hover {
 color: #FFFFFF !important;
 background: none;
}
.sbm-bge {
 display: inline;
 margin-left: 0.3em;
 margin-top: -5px;
 background: #ffdad5;
}
.sbm-bge > span {
 background: linear-gradient(to bottom, #E53D2C 0px, #BB0000 100%) repeat scroll 0 0 transparent;
 border: 1px solid #FFFFFF;
 border-radius: 2px 2px 2px 2px;
 color: #FFFFFF;
 display: inline;
 font-size: 0.8em;
 font-weight: bold;
 line-height: 100%;
 margin: 0 5px;
 padding: 3px;
 position: absolute;
 text-transform: uppercase;
}
.list_categories img { margin-top: 4px; }
.list_categories a {
 font-size: 12px;
 font-weight: normal;
 padding: 2px 3px 2px 15px;
 text-transform: capitalize;
}
.list_categories a:hover{ color:#00AEDB}
.list_categories ul { list-style-type: none; }
.list_categories ul li {
 background: none repeat scroll 0 0 transparent !important;
 border: medium none !important;
 float: none !important;
 font-weight: normal;
 line-height: 20px;
 margin-left: 20px;
 width: 200px;
}
.list_categories ul li span { }
.list_categories {
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 background: none repeat scroll 0 0 #FFFFFF;
 padding-bottom: 10px;
 position: absolute;
 top: -40px;
 left: 100% !important;
 width: 180px;  
 z-index: 99;
 background: #f2f2f2;
 height: 439px;
 overflow: hidden;
 padding: 10px 0;
 border-bottom: 0px solid #c1c1c1;
}
.m_li:nth-child(1):hover, .m_li:nth-child(1).active { background-color: #df1f26 }
.m_li:nth-child(2):hover, .m_li:nth-child(2).active { background-color: #ca248e }
.m_li:nth-child(3):hover, .m_li:nth-child(3).active { background-color: #9bb342 }
.m_li:nth-child(4):hover, .m_li:nth-child(4).active { background-color: #a44d4c }
.m_li:nth-child(5):hover, .m_li:nth-child(5).active { background-color: #7c8a50 }
.m_li:nth-child(6):hover, .m_li:nth-child(6).active { background-color: #5d3380 }
.m_li:nth-child(7):hover, .m_li:nth-child(7).active { background-color: #0090c9 }
.m_li:nth-child(8):hover, .m_li:nth-child(8).active { background-color: #000000 }
.m_li:nth-child(9):hover, .m_li:nth-child(9).active { background-color: #a44d4c }
.m_li:nth-child(10):hover, .m_li:nth-child(10).active { background-color: #0090c9 }
.pc_menu {
 float: left;
 width: 100%;
}
.list_categories p {
 color: #000000;
 font-size: 12px;
 font-weight: bold;
 margin: 4px 0;
 padding: 2px 5px;
 padding-left:10px
}
.list_categories p a {
 color: #111111;
 font-size: 12px;
 font-weight: 500;
 white-space: nowrap; padding-left:0 !important;
 white-space:normal !important
}
.list_categories .backgroundMenu {
 bottom: 0;
 position: absolute;
 right: 0;
 z-index: 1;
}
.subcatwrapper {
 position: relative;
 z-index: 5;
}
.pc_menu ul li a {
 display: block;
 padding-left: 0;
 color: #6e686e
}
.pc_menu ul li a:hover{ color:#00AEDB}
.m_li .icon_cate {
 float: left;
 width: 45px;
 background-color: #FFFFFF;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 height: 28px;
 width: 28px;
 z-index: 2;
 margin: 5px 5px 0 8px;
 overflow: hidden;
 text-align: center;
}
.m_li .icon_cate img {
 position: relative;
 max-width: 100%;
 margin-top: 5px;
}
.m_li:hover .icon_cate img { top: -24px; }
/*Homebanners BannerSingle*/
.pc_menu >p>a { font-family: Tahoma; }
.home_menu {
 display: block !important;
 height: 419px
}
.list_categories {
 top: 0 !important;
 height: 420px;
 padding: 0;
}
.list_categories {
 display: none;
 
 overflow : hidden;
}
.home_menu .list_categories {
 
 width: 1020px;
 
}
.m_li:first-child .list_categories { display: block }
.ztop { z-index: 99999 }
.m_li:hover > .list_categories { z-index: 99999999 }
.subcatwrapper {
 width: 180px;
 float: left;
 overflow: hidden
}
.adsmenu {
 float: left;
 width: 330px;
 background: #FFF;
}
/*.ads-menu-top*/
.ads-menu-top {
 float: left;
 width: 600px;
 display:none
}
.home_menu .ads-menu-top,.home_menu .pro-menu-top{ display:block}
 
.ads-menu-top img {
 width: 600px;
 height: 420px;
 margin: 0 !important
}
.ads-menu-top>a{ padding:0; margin:0; max-width:600px}
.pro-menu-top {
 float: right;
 width: 240px;
 font-family: Arial, Helvetica, sans-serif;
 font-family:Tahoma, Geneva, sans-serif; display:none
 
}
.pro-menu-top img {
 min-height: 80px;
 margin: 0 !important;
 z-index: 0;
 max-height:110px
}
.pro-menu-top .list-pro-hoz .product:nth-child(2n) { background: #fff }
.pro-menu-top .list-pro-hoz a {
 padding: 0;
 margin: 0
}
.pro-menu-top .list-pro-hoz .product {
 padding: 20px 3px;
 z-index: 0;
 margin: 0;
 height: 140px;
 background: #fff;
}
.pro-menu-top .list-pro-hoz .product:hover {
 z-index: 1;
 box-shadow: 0 3px 3px 0 rgba(0,0,0,.15);
 opacity: .95;
}
.pro-menu-top .f_price del {
 color: #ccc;
 font-weight: normal;
}
.pro-menu-top .main_price { margin: 0; }
.pro-menu-top .f_price { margin: 0; }
.pro-menu-top .list-pro-hoz .img-pro{ float:right; width:40%}
.pro-menu-top .list-pro-hoz .des-pro{ width:59%}

.pro-menu-top .list-pro-hoz .reduce{ left:auto; right:10px}