/*Form Account*/
.form_web input[type="checkbox"], .form_web input[type="radio"] {
	margin-top: 7px;
	margin-right: 3px;
	position: relative
}
#ContentPlaceHolder1_Rdsex td { padding-right: 15px }
.info_account {
	width: 585px;
	margin: 20px auto;
	border: 1px solid #d1d1d1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 10px 20px
}
.form_web .form_header {
	color: #ed1f24;
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 3px double #e4e4e4
}
.form_web .row_account {
	float: left;
	width: 100%;
	margin: 3px 0;
	clear: both;
	position: relative
}
.form_web .item_title {
	float: left;
	height: 28px;
	line-height: 28px;
	margin: 4px 10px 4px 0;
	width: 140px;
}
.not_account {
	margin-top: 15px !important
}
.form_web .right_row_account {
	width: 380px
}
.form_web .row_account i {
	float: left;
	padding: 5px 0;
	font-size: 11px
}
.form_web .sl_form_web {
	width: 95%;
	height: 32px;
	padding: 3px;
	color: #555555;
	font: normal 12px Arial, Helvetica, sans-serif
}
.form_web .sl_form_web.accountBirthDay {
	width: 32.5%
}
.tab_transport .right_row_account .inputbox {
	width: 99%
}
.form_web .btn_action {
	margin-right: 20px;
}
.form_web .text {
	clear: both;
	float: left;
	padding-left: 170px;
}
.form_web .row .checkbox {
	padding-bottom: 5px;
	padding-top: 10px;
}
.form_web .write_comment label {
	line-height: 30px;
	color: #FFFFFF;
	z-index: 1;
}
.form_web .write_comment textarea {
	width: 340px;
	height: 100px;
	padding: 5px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.login_account {
	padding: 20px 0;
	width: 45%;
	margin: 0 auto
}
.login_account .lost_password p {
	margin: 0 0 0 150px
}
.login_account .link_acount {
	text-decoration: underline;
	color: #e82d08
}
.login_account .link_acount:hover {
	text-decoration: none
}
/*Cart*/
.row_th_cart {
	float: left;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 10px;
	background: #f3f3f3
}
.th_table_cart {
	text-align: center;
	font-size: 100%;
	font-weight: 700;
	color: #555555
}
.item_cart {
	background: #FFFFFF;
	height: 120px;
	width: 99.5%;
	margin-bottom: 10px;
	position: relative;
	border: 1px solid #e9e9e9
}
.item_cart .img_cart {
	display: block;
	margin: 10px 0;
	width: 15%;
	text-align: center
}
.item_cart .close {
	background: url(../Images/popup-close.png) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 25px;
	position: absolute;
	right: -10px;
	top: -8px;
	width: 25px;
}
.item_cart .cell {
	border-left: 1px dotted #666666;
	float: left;
	height: 69px;
	margin-top: 20px;
}
.item_cart .cell.unit {
	width: 14.5%;
	text-align: center
}
.item_cart .cell.unit .old {
	color: #666666;
	display: block;
	font-size: 10px;
	line-height: 18px;
}
.item_cart .cell.unit .new {
	display: block;
	color: #666666;
	font-size: 12px;
}
.item_cart .cell.unit .percent_saving {
	color: #aacf38;
	font-weight: 700
}
.item_cart .cell.amount {
	background: none repeat scroll 0 0 transparent;
	border-radius: 0 0 0 0;
	position: static;
	text-align: center;
	width: 10%;
}
.item_cart .cell.amount select {
	color: #000000;
	font: normal 13px Arial, Helvetica, sans-serif;
	height: 28px;
	padding: 2px;
	margin-top: 23px;
	text-align: center;
	width: 46px;
}
.item_cart .cell.total {
	color: #666666;
	font-size: 13px;
	font-weight: 700;
	line-height: 69px;
	text-align: center;
	width: 20%;
}
.cell.name {
	border-left: 0 none;
	display: table;
	height: 118px;
	margin-top: 20px;
	position: relative;
	width: 39.5%;
}
.cell.name div {
	top: 50%;
	vertical-align: middle;
}
.cell.name .productdescription {
	color: #333333;
	font-size: 120%;
	font-weight: 700;
	top: -50%;
}
.cell.name i {
	color: #333333;
	display: block;
	font-size: 125%;
	line-height: 18px;
	top: -50%;
}
.cell.name .cart_brand {
	font-size: 12px;
	color: #666666;
	margin-bottom: 2px
}
.cell.name .cart_brand a{
	color: blue;
}
.cell.name .stock {
    color: #6c6;
    font-size: 12px;
}
.cell.name .cartItemRemove {
    border-left: 1px solid #003399;
    margin-left: 5px;
    padding-left: 5px;
	color: #039
}
.foo-cart {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 10px;
}
.total-cart {
	border-top: 2px solid #e9e9e9;
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000000;
	float: right;
	font-size: 125%;
	line-height: 28px;
	margin-bottom: 12px;
	padding: 9px 23px;
	text-align: right;
	width: 500px;
}
.total-cart p {
	display: block;
	margin: 5px 0;
	text-align: left
}
.total-cart p.vat {
	text-align: right;
	line-height: 18px;
	font-size: 13px
}
.all_total {
	border-top: 1px solid #cccccc;
	padding-top: 5px
}
.total-cart strong {
	font-size: 150%;
	padding-left: 23px;
	vertical-align: middle;
}
.total-cart span#total-sum {
	float: right;
	font-size: 110%;
	font-weight: 500;
	padding-left: 23px;
	vertical-align: middle;
	color: #333333
}
.total-cart span#total-money {
	float: right;
	font-size: 18px;
	font-weight: 700;
	padding-left: 23px;
	vertical-align: middle;
	color: #fe0000
}
.total-cart i {
	float: left;
	line-height: 28px;
}
.core-cart {
	background: url(../Images/icon.png) no-repeat scroll 103% 105% transparent;
	border: 1px solid #BFBFBF;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.75) inset;
	float: right;
	height: 40px;
	margin: 9px 20px 0 0;
	padding-right: 34px;
	position: relative;
}
.core-cart input {
	border: 0 none;
	color: #666666;
	font-size: 125%;
	line-height: 18px;
	margin: 11px 0 0 10px;
	width: 160px;
}
.core-cart label {
	color: #666666;
	font-size: 125%;
	left: 11px;
	line-height: 18px;
	position: absolute;
	top: 10px;
}
.core-cart a {
	height: 22px;
	position: absolute;
	right: 6px;
	top: 10px;
	width: 22px;
}
.del-cart {
	clear: both;
	color: #666666;
	float: right;
	font-size: 108%;
	font-style: italic;
	height: 16px;
	margin-top: 12px;
	padding-left: 36px;
}
.button_cart {
	clear: both;
	float: right;
	height: 40px;
	padding: 10px 0;
	width: auto;
	margin-bottom: 10px;
}
.button1, .button_cart .button1 {
	background: #003466 url(../Images/blue_bg.jpg) repeat-x scroll 0 0;
	color: #FFFFFF;
	display: inline-block;
	font-size: 130%;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	margin: -9px 12px 0;
	position: relative;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none
}
.button_cart .button {
	background: url(../Images/button_viewBg.jpg) 0 0 repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFFFFF;
	float: right;
	font-size: 140%;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 12px;
	margin-top: 3px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 190px;
}
/*Payment Step*/
input[type="radio"] {
	margin: 0 5px 0 0
}
#payment_step1 {
	width: 96%;
	margin: 0 auto
}
.col_login {
	float: left;
	margin-top: 20px;
	width: 32%;
}
.col_right_login {
	width: 56%;
	min-height: 200px;
	height: auto;
	padding-left: 10%;
	background: url(../Images/line_or.png) no-repeat scroll left 36px rgba(0, 0, 0, 0);
}
p.title_login {
	font-size: 16px;
	text-align: left;
}
div.login_other {
	line-height: 30px;
	margin-top: 15px;
}
div.login_other a {
	margin: 10px 0;
}
a.btn_face {
	background: url(../Images/btn_login.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	height: 38px;
	width: 235px;
}
a.btn_google {
	background: url(../Images/btn_login.png) no-repeat scroll 0 -48px rgba(0, 0, 0, 0);
	display: block;
	height: 38px;
	width: 235px;
}
a.btn_yahoo {
	background: url(../Images/btn_login.png) no-repeat scroll 0 -96px rgba(0, 0, 0, 0);
	display: block;
	height: 38px;
	width: 235px;
}
/*Progress Bar*/
.progress-bar {
	clear: both;
	position: relative;
	width: 715px;
	height: 36px;
	margin: -16px auto 0 auto;
	background: url(../Images/step_processBg.gif) 0 center repeat-x
}
.progress-bar ul {
	text-align: center;
}
.progress-bar li {
	display: inline-block;
	height: 36px;
	margin-left: -1px;
	position: relative;
	text-align: center;
	width: 33%;
}
.progress-bar li .number {
	display: block;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
	margin: 0 auto;
	background-color: #6e6e6e;
	background-image: url(../Images/step_icons.png);
	background-repeat: no-repeat;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer
}
.progress-bar li.current .number {
	background-color: #f5611b
}
.progress-bar li .number.icon_step1 {
	background-position: 10px 6px
}
.progress-bar li .number.icon_step2 {
	background-position: 9px -38px
}
.progress-bar li .number.icon_step3 {
	background-position: 6px -80px
}
.progress-bar li .number.icon_passed {
	background-position: 10px -135px
}
.progress-bar .title_step {
	display: block;
	margin-top: 5px;
	font-size: 15px;
}
.progress-bar .current {
	background: url(../Images/step_processBg_active.gif) 0 center repeat-x
}
.progress-bar .current .title_step {
	color: #293391;
}
.progress-bar li:last-child:before {
	content: none;
}
#thanks {
	text-align: center
}
.box_payment p {
	margin: 10px 0
}
.box_payment_ct {
	border: 1px solid #d6d6d6;
}
.tt_payment_step {
	background: #f8f8f8;
	border-left: 5px solid #f36c2c;
	border-bottom: 1px solid #dddddd;
	color: #333333;
	font-size: 1.1em;
	font-weight: 700;
	padding: 7px 10px
}
.box_payment_left {
	width: 65%;
	padding-bottom: 20px;
}
#mini_cart, #info_address {
	width: 34%;
	position: relative;
	margin-bottom: 10px;
}
#info_address {
	clear: right;
}
.submit_btn {
	background: linear-gradient(to bottom, #E2760F 0%, #E56315 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: #fca03c; /* Old browsers */
	background: -moz-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fca03c), color-stop(100%, #f9821e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fca03c 0%, #f9821e 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca03c', endColorstr='#f9821e', GradientType=0 ); /* IE6-9 */
	border: medium none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	height: 38px;
	margin: 0;
	text-align: left;
	width: 272px;
}
.login_form, #three_step_checkout .shipping_form, #three_step_checkout .payment_form {
	border: 1px solid #D6D6D6;
	border-radius: 5px 5px 5px 5px;
	height: 100%;
}
.login_btn {
	left: 170px;
	position: relative;
	top: 5px;
}
.submit_btn {
	background: linear-gradient(to bottom, #E2760F 0%, #E56315 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: #fca03c; /* Old browsers */
	background: -moz-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fca03c), color-stop(100%, #f9821e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fca03c 0%, #f9821e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fca03c 0%, #f9821e 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca03c', endColorstr='#f9821e', GradientType=0 ); /* IE6-9 */
	border: medium none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	height: 38px;
	margin: 0;
	text-align: left;
	width: 272px;
}
.buttondathang {
	float: left;
	clear: both;
	background: #003466 url(../Images/blue_bg.jpg) repeat-x scroll 0 0;
	border: medium none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 20px;
	height: 38px;
	margin: 15px 0 10px 210px;
	text-align: center;
	width: 210px;
}
.txtemaildangnhap {
	float: left;
	margin-left: 15px;
	color: black;
	margin-top: 25px;
	padding: 10px 7px;
	width: 320px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #CCCCCC;
}
.txtpassdangnhap {
	color: black;
	padding: 8px;
	width: 360px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #CCCCCC;
	font: normal 100% Arial, Helvetica, sans-serif;
}
.pay-form textarea {
	line-height: 20px
}
#payment_step1 {
	width: 50%;
	margin: 0 auto
}
.rb {
	font-size: 110%;
	line-height: 25px;
	padding: 10px 0;
}
.forgot_pass {
	display: block;
	margin-top: 7px;
	color: #293391
}
.btn_account {
	margin: 15px 0 20px 0;
	cursor: pointer
}
.order_sum {
	padding: 0 10px
}
.order_sum th {
	background: #FFFFFF;
	border: none;
	font-weight: 700;
}
.left_align {
	text-align: left
}
.qty {
	text-align: center;
}
.right_align {
	text-align: right;
}
.total_item {
	margin: 5px 0;
	padding-top: 3px;
	border-top: 2px solid #b3b3b3;
}
.total_item td {
	vertical-align: top
}
.order_scrollable {
	
	min-height: 40px;
	overflow-x: hidden;
	overflow-y: auto;
}
.order_scroll_table .qty select {
	margin: 0;
	vertical-align: top;
	width: 50px;
}
.order_scroll_table .checkout_remove_item {
	color: #0010a7;
	text-decoration: none;
	font-size: 0.9em
}
.total_tr td {
	padding-top: 10px
}
.total_item .total {
	color: #f37021;
	font-weight: 500;
}
.total_item .vat_minicart {
	display: block;
	font-size: 11px;
	font-weight: normal;
}
.pay-form.left {
	left: 0;
	position: absolute;
	top: 0;
	width: 26%;
}
.pay-form.right {
	margin-left: 28%;
	padding-top: 4px;
}
.red {
	color: Red;
}
.pay-form .text {
	color: #000000;
	display: block;
	float: left;
	font-size: 120%;
	line-height: 40px;
	margin-right: 10px;
	width: 25%;
}
.pay-form .input-text {
	float: left;
	width: 68%;
	line-height: 40px;
	margin: 0;
}
.pay-form .input-text input {
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
	color: #000000;
	float: left;
	font-size: 130%;
	line-height: 18px;
	padding: 10px 0;
	text-indent: 7px;
	width: 100%
}
.ddlthanhphoh {
	width: 100%;
	padding: 10px 3px;
	font-size: 120%;
}
.pay-form .input-text textarea {
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
	color: #000000;
	float: left;
	font-size: 125%;
	height: 99px;
	line-height: 18px;
	padding: 10px 0;
	text-indent: 7px;
	width: 100%;
}
.button1, .button_cart .button1 {
	background: url("../Images/blue_bg.jpg") repeat-x scroll 0 0 #003466;
	border: medium none;
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	font-size: 130%;
	height: 40px;
	line-height: 40px;
	margin: 10px 0 0 0;
	padding: 0 15px;
	position: relative;
	text-align: center;
}
/*Tab Payment*/
.tabs_payment {
	margin-top: 15px;
	padding: 0;
	margin: 10px 0 0 0;
	border: none;
	background: none
}
.tabs_payment:after {
	clear: both;
	display: block;
	content: ''
}
.tabs_payment {
	width: 34%;
	height: 100%;
}
.tabs_payment li {
	float: left;
	width: 100%;
	margin: 0;
}
.tabs_payment li a {
	text-decoration: none;
	font-weight: bold;
	background: #f8f8f8;
	border-bottom: 1px solid #dfdfdf;
	border-left: 5px solid #dfdfdf;
	box-sizing: border-box;
	color: #5b5b5b;
	display: block;
	height: 50px;
	line-height: 50px;
	margin-bottom: 5px;
	padding-left: 15px;
	width: 100%;
	-moz-box-shadow: -2px 2px 5px #dddddd;
	-webkit-box-shadow: -2px 2px 5px #dddddd;
	box-shadow: -2px 2px 5px #dddddd
}
.tabs_payment li.current a {
	background: #FFFFFF;
	border-left: 5px solid #faa21a;
	border-right: 1px solid #ffffff;
}
.pay-form .condition_tran {
	color: #cc0000;
	display: block;
	margin-top: 5px;
	padding-left: 15px;
}
.tab_payment_ct {
	padding: 0 20px;
	width: 60%;
	border: none;
	font-size: 1.1em
}
.info_transport {
	width: 540px;
	margin: 15px auto
}
.info_transport:after {
	clear: both;
	display: block;
	content: ''
}
.pay-form .condition_tran {
	color: #cc0000;
	display: block;
	margin-top: 5px;
	padding-left: 15px;
}
.info_transport .tab_payment_ct {
	padding: 0 20px 15px 20px;
	width: 68%;
	font-size: 1.1em;
}
.tab_transport .tab_payment_ct {
	border-left: 1px solid #cacaca
}
.method_payment_tab .tab_payment_ct {
	font-size: 13px !important
}
.tab_payment_ct .payment_radio_check {
	display: inline-block;
}
.tab_payment_ct .payment_form_title {
	display: inline-block;
	width: 95%;
}
.tab_payment_ct .row {
	margin-bottom: 20px
}
#bill_info .row {
	margin-bottom: 5px
}
.hidden {
	display: none
}
.address {
	padding: 10px 10px 10px 30px;
	background: url(../Images/sprites_icon/address_icon.png) 0 10px no-repeat
}
.change_info {
	position: absolute;
	z-index: 50;
	top: 8px;
	right: 10px;
	font-size: 0.8em;
	color: #00F;
	text-transform: none;
}
/*Order*/
#orderInfo > div {
	width: 50%;
	margin: 0 auto
}
.orderInfo_hidden {
	position: relative;
	color: #ff5b00;
	text-decoration: underline;
	cursor: pointer
}
.box_hover {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 10px;
	background: #FFFFFF;
	-moz-box-shadow: 0 0 5px 3px rgba(153, 153, 153, 0.3);
	-webkit-box-shadow: 0 0 5px 3px rgba(153, 153, 153, 0.3);
	box-shadow: 0 0 5px 3px rgba(153, 153, 153, 0.3);
	width: 300px;
	z-index: 100;
	color: #333333
}
.orderInfo_hidden:hover .box_hover {
	display: block
}
#orderInfo .row {
	float: left;
	width: 100%;
	margin: 5px 0
}
.overlay-price {
	display: block;
	color: #c30005
}
.required {
	color: #FF0000;
	margin-left: 5px
}
/*Comments*/
.comment_part {
	float: left;
	width: 100%;
}
.info_detail .facebook {
	left: 100%;
	top: 0;
}
.info_detail ul li {
	background: url(../Images/process_icon.png) -689px -73px no-repeat;
	margin: 5px 0;
	padding-left: 20px;
}
/*Comment Box*/
.comment_part h4 {
	color: #4582B9;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
.choose_product {
	margin-top: 5px;
	padding: 0 10px;
}
.investigation .choose_product {
	padding-top: 0;
}
.choose_product p {
	color: #000000;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}
.vote {
	background: url(../Images/vote.png) repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 26px;
	width: 71px;
}
.send_comment {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
.buttoncm {
	background: none repeat scroll 0 0 #C4C4C4;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	color: #3C3C3C !important;
	cursor: pointer;
	padding: 5px 20px;
}
.postcomment input, .postcomment textarea {
	color: #7F7F7F;
	border: 1px solid #B5B5B5;
}
.pcmnd textarea {
	border-radius: 5px 5px 5px 5px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 5px;
	width: 98.5%;
}
.pcmnd {
	padding: 10px 0
}
.pcm {
	float: left;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment .star {
	margin-top: 40px;
	width: 100px !important;
}
.star {
	float: left;
	margin-top: 9px;
	width: 200px !important;
}
.star_post {
	float: left;
	margin-top: 35px;
}
.choose_product {
	color: #3C3C3C;
	float: left;
	padding-left: 9px;
	padding-right: 10px;
	padding-top: 30px;
}
.inputcomment {
	float: left;
	margin-top: 29px;
}
.nhapten {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin-right: 5px !important;
	padding: 5px;
	width: 160px;
}
.diachi {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	padding: 5px;
	width: 250px;
}
.noidungcomment {
	padding: 15px;
}
.tenuser {
	float: left;
	margin-top: 10px;
}
.comment {
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
}
.postcomment {
	float: left;
	width: 100%;
}
.user {
	border-bottom: 1px solid #CCCCCC;
}
.image-user {
	float: left;
	width: 54px;
}
.image-user img {
	height: 54px;
	width: 54px;
}
.datetime {
	float: left;
	width: 600px;
}
.points {
	color: #3C3C3C;
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.nhanxet {
	margin-bottom: 20px;
	padding-left: 20px;
}
#star {
	float: left;
}
#vote {
	color: red;
}
.tenspcb {
	color: #6D6B6C;
	font-size: 14px;
	font-weight: bold;
}
.des {
	color: #7F7F7F;
}
.noidungspcb p {
	margin-bottom: 10px !important;
}
.spcb p {
	margin-bottom: 0;
}
.spcb input {
	float: left;
	margin-right: 50px;
	margin-top: 20px;
}
.spcb img {
	float: left;
	height: 94px;
	margin-right: 30px;
	width: 120px;
}
.noidungspcb {
	float: left;
	width: 665px;
}
.ques {
	margin-bottom: 10px;
}
.hoidap {
	padding-left: 25px;
	padding-right: 25px;
}
.hoi {
	color: #E46A07;
	float: left;
	font-size: 14px;
	width: 40px;
}
.traloi {
	color: #7F7F7F;
	float: left;
	margin-top: 3px;
	width: 650px;
}
.dap {
	color: #2FB30F;
	float: left;
	font-size: 14px;
	width: 40px;
}
#footer_process > div {
	width: 50%;
}
