@charset "utf-8";
/* CSS Document */
.fly_menu {
	display: none;
}
#nav_menu {
	width:98%;
	margin: 0 auto;
	font-size: 1.5em
}
#nav_menu ul {
	width: auto;
}
#nav_menu > ul {
	height: auto;
	display: block;
}
#nav_menu > ul > li {
	float: none;
}
#nav_menu_wrap ul.mega_menu li, ul.mega_menu {
	display: none;
}
#menu_button {
	width: 50px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	text-align: center;
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
}
.menu_icon {
	color: #0B9F00;
	line-height: 50px
}
.close_menu {
	float: left;
	width: 100%;
	padding-left: 36px;
	line-height: 46px;
	color: #181818;
	background: url(../Images/close_icon.png) 10px center no-repeat;
	cursor: pointer;
}
#nav_menu ul.open #menu_button::after, #nav_menu ul.open #menu_button::before {
border-color: #fff;
}
.mobile_menu {
	margin: 0 auto;
	min-width: 320px;
	overflow: hidden;
	width: 100%;
}
.mobile_menu .fly_menu.active {
	display: block;
	transform: translate3d(180px, 0px, 0px);
	-webkit-transform: translate3d(180px, 0px, 0px);
	-moz-transform: translate3d(180px, 0px, 0px);
	-o-transform: translate3d(180px, 0px, 0px);
	-ms-transform: translate3d(180px, 0px, 0px);
	z-index: 20;
}
.mobile_menu .fly_menu {
	background: none repeat scroll 0 0 #f8f8f8;
	float: none;
	left: -180px;
	-moz-box-shadow: 2px 7px 7px 1px #383838;
	-webkit-box-shadow: 2px 7px 7px 1px #383838;
	box-shadow: 2px 7px 7px 1px #383838;
	position: absolute;
	right: auto;
	top: 100px;
	width: 180px;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
}
.mobile_menu .fly_menu.active .main_nav {
	width: 100%;
	font-size: 1em;
}
.mobile_menu .main_nav > ul {
	float: right;
	width: 100%;
}
.mobile_menu .main_nav > ul > li {
	float: left;
	width: 100%;
	display: block;
	padding-top: 0;
	position: relative
}
.mobile_menu .main_nav>ul>li>a {
	display: block;
	padding:0 10px 0 10px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	border-bottom: 1px solid #dddddd
}
.mobile_menu .main_nav>ul>li>a>img {
	float: left;
	height: 17px;
	margin-right: 8px;
	margin-top: 14px;
	width: 17px;
}
mobile_menu .main_nav ul ul {
	display: none;
	clear: both;
}
.mobile_menu .main_nav>ul>li>ul>li>a {
	background: url(../Images/arrow_l.png) 20px 12px no-repeat;
	color: #333333;
}
.mobile_menu .main_nav ul ul ul a {
	background: url(../Images/arr_orange.png) 40px 13px no-repeat;
	padding-left: 50px !important
}
.mobile_menu .main_nav ul > li:hover > ul, .mobile_menu .main_nav ul > li:hover >div {
}
.mobile_menu .main_nav>ul>li.first.active>ul.noli, .mobile_menu .main_nav>ul>li.two.active>div.submenu {
	display: block !important;
}
/*Menu Arcordion*/
#box_category > ul > li > ul {
	padding-left:0px;
	display:none;
	margin-top:0px;
	background: #FFFFFF;
}
#box_category > ul > li.active ul {
	display:block;
}
#box_category > ul > li > ul > li {
	position: relative;
}
#box_category > ul > li span:hover {
	cursor:pointer;
}
#box_category > ul > li.active > a, #box_category > ul > li ul > li > a:hover {
	color:#f93700;
}
#box_category > ul > li.active a + ul {
	display: block;
}
#box_category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	padding: 8px 46px 8px 40px;
	border-bottom: 1px solid #f4f4f4
}
#box_category > ul > li ul > li.active > a, #box_category > ul > li ul > li.active > a {
	font-weight:normal;
	color:#3b2c26;
}
#box_category > ul > li > span.close {
	background:url(../Images/faq.png) 0 5px no-repeat;
	width:26px;
	height:25px;
	float:right;
	margin-right:13px;
	margin-top:2px;
	display:block;
}
#box_category > ul > li > span.close.expanded {
	background-position: 0 -83px
}
#box_category li li span.close {
	background:url(../Images/faq.png) 0 7px no-repeat;
	width:26px;
	height:36px;
	float:right;
	margin-right:13px;
	margin-top:0;
	display:block;
}
#box_category li.active > span.close {
	background-position:0 -88px;
}
#box_category li li span.close.collapsed {
	background-position:0 9px;
}
#box_category li span.close.expanded {
	background-position:0 -79px;
}
#box_category > ul > li span.close:hover {
	cursor:pointer;
}
#box_category .close {
	position:absolute;
	top:7px;
	right:0px;
}
#box_category ul ul .close {
	position:absolute;
	top:0px;
	right:0px;
}
