.close_menu {
	clear: both;
	margin-top: 18px;
	color: #FFFFFF;
	padding-left: 50px;
	line-height: 46px;
	background: #c49052 url(../Images/close_icon.png) 10px center no-repeat;
	cursor: pointer;
	text-transform: uppercase
}
#wrap_outer.tran_wp {
	position: absolute;
	width: 100%;
	transform: translate3d(270px, 0px, 0px);
	-webkit-transform: translate3d(270px, 0px, 0px);
	-moz-transform: translate3d(270px, 0px, 0px);
	-o-transform: translate3d(270px, 0px, 0px);
	-ms-transform: translate3d(270px, 0px, 0px);
	z-index: 100;
}
#wrap_outer {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#menu_button {
	width: 50px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	text-align: center;
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
}
.menu_icon {
	color: #000000;
	line-height: 50px
}
.mobile_menu {
	margin: 0 auto;
	min-width: 320px;
	overflow: hidden;
	width: 100%;
}
.mobile_menu .fly_menu.active {
	display: block;
	transform: translate3d(270px, 0px, 0px);
	-webkit-transform: translate3d(270px, 0px, 0px);
	-moz-transform: translate3d(270px, 0px, 0px);
	-o-transform: translate3d(270px, 0px, 0px);
	-ms-transform: translate3d(270px, 0px, 0px);
	z-index: 20;
}
.mobile_menu .fly_menu {
	background: #f8f8f8;
	float: none;
	height: 100%;
	left: -270px;
	-moz-box-shadow: 2px 7px 7px 1px #383838;
	-webkit-box-shadow: 2px 7px 7px 1px #383838;
	box-shadow: 2px 7px 7px 1px #383838;
	position: absolute;
	right: auto;
	top: 0;
	width: 270px;
}
.mobile_menu .fly_menu.active .main_nav {
	width: 100%;
	margin-top: 10px;
}
.mobile_menu .fly_menu.active .main_nav {
	width: 100%;
	font-size: 1.2em;
}
.mobile_menu .main_nav > ul {
	float: right;
	width: 100%;
}
.mobile_menu .main_nav > ul > li {
	float: left;
	width: 100%;
	display: block;
	padding-top: 0;
	position: relative
}
.mobile_menu .main_nav>ul>li>a {
	display: block;
	padding:0 44px 0 25px;
	height: 50px;
	line-height: 50px;
	font-size: 120%;
	color: #181818;
	border-bottom: 1px solid #dddddd
}
.mobile_menu .main_nav > ul > li > a:hover {
	text-decoration: none
}
.mobile_menu .main_nav ul ul {
	display: none;
	clear: both;
}
.mobile_menu .main_nav>ul>li>ul>li>a {
	background: url(../Images/arr_cate_child.gif) 15px 20px no-repeat;
	padding-left: 15px;
	color: #333333;
}
.mobile_menu .main_nav ul ul ul a {
	background: url(../Images/arr_l.png) 38px 22px no-repeat;
	padding-left: 55px !important
}
.mobile_menu .main_nav ul > li:hover > ul, .mobile_menu .main_nav ul > li:hover >div {
}
.mobile_menu .main_nav>ul>li.first.active>ul.noli, .mobile_menu .main_nav>ul>li.two.active>div.submenu {
	display: block !important;
}
/*Menu Arcordion*/
#box_category > ul > li > ul {
	padding-left:0px;
	display:none;
	margin-top:0px;
	background: #c49052;
}
#box_category > ul > li.active ul {
	display:block;
}
#box_category > ul > li > ul > li {
	position: relative;
}
#box_category > ul > li span:hover {
	cursor:pointer;
}
#box_category > ul > li.active > a, #box_category > ul > li ul > li > a:hover {
	color:#FFFFFF;
}
#box_category > ul > li.active a + ul {
	display: block;
}
#box_category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
	color:#FFFFFF;
	padding: 0 46px 0 30px;
	line-height: 46px;
	border-bottom: 1px solid #f4f4f4
}
#box_category > ul > li ul > li.active > a, #box_category > ul > li ul > li.active > a {
	font-weight:normal;
	color:#3b2c26;
}
#box_category > ul > li > span.close {
	background:url(../Images/faq.png) 0 5px no-repeat;
	width:26px;
	height:25px;
	float:right;
	margin-right:13px;
	margin-top:2px;
	display:block;
}
#box_category > ul > li > span.close.expanded {
	background-position: 0 -86px
}
#box_category li li span.close {
	background:url(../Images/faq.png) 0 16px no-repeat;
	width:26px;
	height:36px;
	float:right;
	margin-right:13px;
	margin-top:0;
	display:block;
}
#box_category li.active > span.close {
	background-position:0 -88px;
}
#box_category li li span.close.collapsed {
	background-position:0 16px;
}
#box_category li span.close.expanded {
	background-position:0 -72px;
}
#box_category > ul > li span.close:hover {
	cursor:pointer;
}
#box_category .close {
	position:absolute;
	top:7px;
	right:0px;
}
#box_category ul ul .close {
	position:absolute;
	top:0px;
	right:0px;
}
